{% extends 'navbar.html' %}
{% block title %} Home {% endblock %}

  {% block content %}
          <div class="jumbotron jumbotron-fluid text-center height=100%">
            <div class="ini container">
              <h1 class="display-4">Microservice Integrator</h1>
              <p class="lead">Selamat datang di Microservice Integrator, Mahasiswa {{ user }}  </p>
              <p>website ini memudahkan anda untuk melakukan transaksi akademik di Politeknik Pos Indonesia</p>
            </div>
          <div class="container">
              <div class="row mb-4 text-center">
                  <div class="col">
                    <h1>About</h1>
                  </div>
                <div class="row justify-content-center">
                  <div class="col">
                    <p>Politeknik Pos Indonesia adalah institusi pendidikan tinggi 
                      yang didirikan oleh Yayasan Pendidikan Bhakti Pos Indonesia 
                      (YPBPI) pada tahun 2001. Politeknik Pos Indonesia sudah 
                      mendapatkan akreditasi kampus B BAN-PT serta memiliki 
                      6 program studi yang terbagi menjadi Diploma 3 dan Diploma 4 yaitu, Logistik Bisnis, Manajemen Bisnis, Teknik Informatika, 
                      Manajemen Infomatika, Akuntansi dan E-Commerce Logistics.</p>
                  </div>
                  <div class="col">
                    <p>Teknologi Informasi merupakan teknologi yang 
                      mendominasi berbagai aspek kehidupan pada saat ini. 
                      Perkembangan teknologi informasi berjalan dengan sangat cepatnya. 
                      Banyak industri yang menggunakan teknologi informasi sebagai 
                      sarana pendukung untuk meningkatkan kinerjanya. Instansi 
                      pemerintah, swasta,  dan berbagai sektor lainnya juga tidak 
                      terlepas dari peran teknologi informasi sebagai pendukung 
                      operasionalnya. 
                    </p>
                  </div>
                </div>
              </div>
          </div>
          </div>     
    
      {% endblock %}

