{% extends 'navbar.html' %}
{% block content %}
<p></p>
    <div class="container mt-10 ">
        <div class="row text-center">
            <div class="col">
                <h3>PROFIL MAHASISWA</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <table class="table table-borderless">
                    {%for i in data%}
                    <tr>
                        <td>Nomor Pokok Mahasiswa</td>
                        <td>:</td>
                        <td>{{ i[0] }}</td>
                    </tr>
                    <tr>
                        <td>ID Tahun</td>
                        <td>:</td>
                        <td>{{ i[10] }}</td>
                    </tr>
                    <tr>
                        <td>Nama Mahasiswa</td>
                        <td>:</td>
                        <td>{{ i[14] }}</td>
                    </tr>
                    <tr>
                        <td>Status Mahasiswa</td>
                        <td>:</td>
                        {% if i[17] == 'A' %}
                        <td>Aktif</td>
                        {% else %}
                        <td>Tidak Aktif</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Program</td>
                        <td>:</td>
                        <td>{{ i[18] }}</td>
                    </tr>
                    <tr>
                        <td>Kode Prodi</td>
                        <td>:</td>
                        <td>{{ i[19] }}</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>:</td>
                        {% if i[21] == 'P' %}
                        <td>Perempuan</td>
                        {% else %}
                        <td>Laki-Laki</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tempat Lahir</td>
                        <td>:</td>
                        <td>{{ i[24] }}</td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td>:</td>
                        <td>{{ i[25] }}</td>
                    </tr>
                    <tr>
                        <td>Agama</td>
                        <td>:</td>
                        {% if i[26] == 'I' %}
                        <td>Islam</td>
                        {% elif i[26] == 'K' %}
                        <td>Katholik</td>
                        {% elif i[26] == 'P' %}
                        <td>Protestan</td>
                        {% elif i[26] == 'B' %}
                        <td>Buddha</td>
                        {% elif i[26] == 'H' %}
                        <td>Hindu</td>
                        {% else %}
                        <td>Belum diisi</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td>{{ i[28] }}</td>
                    </tr>
                    <tr>
                        <td>Kota</td>
                        <td>:</td>
                        <td>{{ i[29] }}</td>
                    </tr>
                    <tr>
                        <td>RT/RW</td>
                        <td>:</td>
                        <td>{{ i[30] }}/{{ i[31] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
</div>
{% endblock %}